<div class="modal fade" id="forgotPasswordForm" tabindex="-1" aria-labelledby="forgotPasswordFormLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordFormLabel">Forgot Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success d-none" id="forgot-password-success-alert" role="alert">
                    An email has been sent to your account. Please click on the link to reset your password.
                </div>
                <div class="alert alert-dark d-none" id="forgot-password-error-alert" role="alert">
                  </div>
                <form action="/forgot-password" id="forgot-password-form" method="post" class="px-4 py-3">
                    <div class="mb-3">
                        <label for="forgotPasswordEmail" class="form-label">Email</label>
                        <input type="text" name="email" class="form-control" id="forgotPasswordEmail" placeholder="Enter your email" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="forgot-password-form" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/forgotPassword.js"></script>