<link rel="stylesheet" href="/css/home.css">

<div class="jumbotron mb-5">
  <div class="container-fluid text-center">
    <h1 class="display-5 fw-bold">
      Online Notes App
    </h1>
    <p class="fs-3">Your notes with you wherever you go</p>
    <p class="fs-3">Easy to use, protects all your notes!</p>
    <button type="button" class="btn btn-lg btn-success mt-5 mb-5" data-bs-toggle="modal"
      data-bs-target="#signUpModal">Sign
      up-It's free</button>
  </div>
</div>

<%- include('_login.ejs') %>

<%- include('_signup.ejs') %>

<%- include('_forgotPassword.ejs') %>